.app {
  margin-top: 100px;
}
.btn {
  padding: 10px 15px;
  border-radius: 5px;
  background: #4c35b4;
  color: #ffffff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.circles {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  justify-items: center;
}
